body {
    font-family: "Open Sans", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #303030;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug {
    min-height: 50px;
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

[class^='col'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.col-100 {
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-50 {
    width: 50%;
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.inline {
    display: inline-block;
}

.d-none {
    display: none;
}

button {
    all: unset;
    cursor: pointer;
    color: white;
    border: 2px solid #0082F9;
    padding: .8rem;
}

/* heades */

header img {
    width: 70%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

}

header ul {
    display: flex;
    gap: 2rem;
    height: 120px;
    align-items: center;
}

header ul a {
    font-weight: 900;
    font-size: .8rem;
}

header ul a:focus {
    color: #0082F8;
}

header li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.blue-line {
    height: 5px;
    background-color: #0082F8;
    width: 100%;
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    bottom: 0;
}

a:focus+.blue-line,
a:hover+.blue-line {
    opacity: 1;
}

/* main */

main>.container-black {
    background-image: url(./assets/img/jumbotron.jpg);
    background-size: cover;
    color: white;
    height: 400px;
    position: relative;
}

main .current-series {
    background-color: #0082F8;
    padding: 1rem;
    font-weight: 900;
    position: absolute;
    bottom: -30px;
}

main .container {
    display: flex;
    align-items: center;
    height: 100%;
}

main .container-blue {
    height: 150px;
    background-color: #0082F9;
}

main .container-blue img {
    height: 50px;
}

main .container .col-20 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: .8rem;
    color: white;
}

/* footer */

footer {
    background-image: url(../src/assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .container.top {
    display: flex;
    height: 450px;
}

footer .col-50 .logo {
    position: relative;
    top: -50px;
    z-index: 0;
}

footer .col-50 li a {
    color: #797979;
    font-size: .8rem;
}

.col-50.link {
    display: flex;
}

footer .col-50 li {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer .col-50 li h1 {
    color: white;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

footer .footer-bottom {

    background-color: #303030;
    z-index: 1;
    position: relative;
}

footer .footer-bottom .container {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

footer .footer-bottom li p {
    color: #0082F9;
    font-weight: 900;
    font-size: 1.2rem;
}

footer .footer-bottom ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* alert */

main .alert {
    border: 2px solid white;
    padding: 1rem;
    border-radius: 1rem;
}

main .alert.success {
    border-color: #0082F8;
    color: #0082F9;
    background-color: #c4e2fe;
}

main .alert.danger {
    color: red;
    border-color: red;
    background-color: rgb(255, 171, 171);
}